<div class="mt-2 d-flex justify-content-between align-items-center">
    <h3>Patients Page</h3>
    <nav class="" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li routerLink="/" class="breadcrumb-item">Home</li>
        <li routerLink="/Patients" class="breadcrumb-item active">Patients</li>
      </ol>
    </nav>
  </div>
  
  <div class="mt-3">
    <div class="form-group w-100 d-flex justify-content-between align-items-center">
      <div class="row ">
        <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12 col-12">
          <button style="width: max-content;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addModal">
            <i class="fa-solid fa-plus me-1"></i>Hasta Ekle
          </button>
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12 position-relative">
        <input type="search" [(ngModel)]="search" class="form-control " placeholder="Search Patients" />
        <i class="fa-solid fa-magnifying-glass search"></i>
      </div>
    </div>
  
    <div class="form-group mt-1">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th> 
            <th>İdentityNumber</th>
            <th>FullName</th>
            <th>City / Town</th>
            <th>FullAdress</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          @for (patient of patients | patient :search; track patient) {
              <tr>
                  <td>{{$index+1}}</td>
                  <td>{{patient.identityNumber}}</td>
                  <td>{{patient.fullName}}</td>
                  <td>{{patient.city}} / {{patient.town}}</td>
                  <td>{{patient.fullAddress}}</td>

                  <td>
                    <button (click)="get(patient)"
                      class="btn btn-sm btn-outline-primary me-2"
                      title="Güncelle" data-bs-toggle="modal" data-bs-target="#updateModal">
                   
                      <i class="fa-solid fa-edit"></i>
                    </button>
                    <button (click)="delete(patient.id,patient.fullName)" class="btn btn-sm btn-outline-danger" title="Sil">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </td>
                </tr>
  
          }
          
        </tbody>
      </table>
    </div>
  </div>
  
  
  
  <!-- Create Patients Modal -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Hasta ekleme formu</h1>
            <button #addModalCloseButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #addForm="ngForm" formValidate autocomplete="off" (ngSubmit)="add(addForm)">
          <div class="modal-body">

            <div class="form-group mt-1">
                <label>TC kimlik numarası</label>
                <input type="text" [(ngModel)]="createPatientModel.identityNumber"  name="LastName" class="form-control" required minlength="3">
                <div class="invalid-feedback"></div>  
              </div>

        <div class="form-group">
          <label>FirstName</label>
          <input type="text" [(ngModel)]="createPatientModel.firstName" name="FirstName" class="form-control" required minlength="3">
          <div class="invalid-feedback"></div>  
  
        </div>
  
        <div class="form-group mt-1">
          <label>LastName</label>
          <input type="text" [(ngModel)]="createPatientModel.lastName"  name="LastName" class="form-control" required minlength="3">
          <div class="invalid-feedback"></div>  
        </div>

        <div class="form-group mt-1">
            <label>City</label>
            <input type="text" [(ngModel)]="createPatientModel.city" name="LastName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>
  
          <div class="form-group mt-1">
            <label>Town</label>
            <input type="text" [(ngModel)]="createPatientModel.town"  name="LastName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>
        
          <div class="form-group mt-1">
            <label>FullAdress</label>
            <input type="text" [(ngModel)]="createPatientModel.fullAddress"  name="LastName" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>
  
  
          </div>
          <div class="modal-footer">
            
            <button  type="submit"  class="btn btn-dark w-100">Save</button>
          </div>
      </form>
        </div>
      </div>
    </div>
  
    <!-- Update Patients Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Hasta Güncelleme formu</h1>
            <button #UpdateModalCloseButton type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #UpdateForm="ngForm" formValidate autocomplete="off" (ngSubmit)="update(UpdateForm)" >
          <div class="modal-body">
        <div class="form-group">
          <label>FirstName</label>
          <input type="text" [(ngModel)]="updatePatientModel.firstName"  name="updateFirstName" class="form-control" required minlength="3">
          <div class="invalid-feedback"></div>  
  
        </div>
  
        <div class="form-group mt-1">
          <label>LastName</label>
          <input type="text" [(ngModel)]="updatePatientModel.lastName" name="updateLastName" class="form-control" required minlength="3">
          <div class="invalid-feedback"></div>  
        </div>

       

          <div class="form-group mt-1">
            <label>City</label>
            <input type="text"[(ngModel)]="updatePatientModel.city" name="updateCity" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>

          <div class="form-group mt-1">
            <label>Town</label>
            <input type="text" [(ngModel)]="updatePatientModel.town" name="updateTown" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>

          <div class="form-group mt-1">
            <label>fullAddress</label>
            <input type="text" [(ngModel)]="updatePatientModel.fullAddress" name="updatefullAddress" class="form-control" required minlength="3">
            <div class="invalid-feedback"></div>  
          </div>
  
        
  
  
          </div>
          <div class="modal-footer">
            
            <button type="submit" class="btn btn-dark w-100">Update</button>
          </div>
      </form>
        </div>
      </div>
    </div>
